body{
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
}
.navbar-link, .navbar-link:hover {
  font-family: 'Eater',cursive;
  font-size: 3.5vw;
  color:#CC0033;
  margin-bottom: 15px;
}
.navbar-header{
  width: 100%;
}
.row{
  text-align: center;
  color:#fff;
  padding-bottom: 40px;
}
.contenedor-btn{
    margin: 40px 0 40px 0;
    text-align: center;
    margin-top: 0px;
}
.tabla-resultado{
padding-bottom: 0px;
}
.input-group .input-group-addon, .table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: transparent;
}
.input-tabla{
  width: 100%;
}
p, thead tr th, tbody tr td{
  color: #fff;
  text-align: center;
}
