/*
letra 'Eater'
letra 'Cabin Sketch'
*/

body{
  color: #FF66CC;
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
  font-family: 'Cabin Sketc', cursive;
}
a,
a:visited {
  color: #FF66CC;
}
a:hover {
  color: #FF66CC;
}
.main-content{
  float: right;
  width: 90%;
}
.col-lista{
  width: 10%;
  /* position: fixed; */

}

/* header */
.navbar{
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
  border: transparent;
  margin: 5% 0 12% 0;
}
.navbar-default{
  margin-bottom: 75px;
  height: 10%;
}
@media (max-width:767px) {
  ul.nav.navbar-nav {
    position: inherit;
    text-align: center;
  }
  .navbar-default .navbar-nav li a {
    font-size: 20px;
  }
}
@media (min-width:767px) {
  .navbar-default .navbar-nav li a {
    font-size: 30px;
  }
}
.navbar-default .navbar-link, .navbar-default .navbar-link:hover {
  font-family: 'Eater',cursive;
  font-size: 6.5vw;
  color:#CC0033;
}
.navbar-default .navbar-nav li a{
  font-family: 'Cabin Sketch', cursive;
  font-size: 3vw;
  color: #FF66CC;
}
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:hover{
  color: #CC0033;
}
.navbar-nav {
  border: 0;
  position: absolute;
  right: 0;
  margin: 55px 20px 0 0;
}

/* home */
.home-img img{
  width: 200px;
  height: 289px;
  display: inline-block;
}

/* Animes */
.media{
  zoom:1.3;
}
.media-object {
  width: 159px;
  height: 249px;
}
.texto{
  padding: 8% 0 5% 0;
  font-family: 'Cabin sketch', cursive;
  font-weight: bold;
  color: #FF66CC;
}
/*en emision*/
.thumbnail img{
  width: 150px;
  height: 150px;
}
/* Ranking */
h1{
  font-family: 'Eater',cursive;
  color: #CC0033;
  font-size: 55px;
  text-align: center;
  margin-top: 0px;
}
tbody tr td img{
  width: 130px;
  height: 150px;
}
tbody tr td{
  font-size: 1.5em;
}
thead tr th{
  font-weight: 100;
}
thead tr th, tbody tr td{
font-family: 'Cabin Sketch',cursive;
text-align: center;
border: 5px #ff040485 solid;
}
.tabla-top thead{
  font-size: 2.5em;
  background-color: #bd20aa4d;
  border: 5px #ff040485 solid;
}

/* Pie de pagina */

.logo_pie img{
  float: left;
  width: 250px;
  height: 250px;
}
.pie_links {
  float: left;
  width: 200px;
  line-height: 30px;
}
.footer{
  padding-top: 25px;
  margin-top: 15px;
}
