/*
letra 'Eater'
letra 'Cabin Sketch'
*/

/* INDICE
1. general
2. header
3. home
4. animes
5. emision
6. Ranking
7. foro
8. pie de pagina
*/

/*1.   foro   */
body, .thumbnail .caption, .texto, .navbar-default .navbar-nav li a{
  color: #FF66CC;
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
  font-family: 'Cabin Sketc', cursive;
}
a,
a:visited {
  color: #FF66CC;
}
a:hover {
  color: #FF66CC;
}
thead tr th, tbody tr td, .table thead tr .nombre, .table thead tr .comentario{
  font-family:'Cabin Sketch',cursive;
  text-align:center;
}
.tabla-top thead, .table thead tr .nombre, .table thead tr .comentario{
    font-size: 2.5em;
}

/*2.   header    */
.navbar{
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
  border: transparent;
  margin: 5% 0 12% 0;
}
.navbar-default{
  margin-bottom: 75px;
  height: 10%;
}
@media (max-width:767px) {
  ul.nav.navbar-nav {
    position: inherit;
    text-align: center;
  }
  .navbar-default .navbar-nav li a {
    font-size: 20px;
  }
}
@media (min-width:767px) {
  .navbar-default .navbar-nav li a {
    font-size: 30px;
  }
}
.navbar-default .navbar-link, .navbar-default .navbar-link:hover {
  font-family: 'Eater',cursive;
  font-size: 6.5vw;
  color:#CC0033;
}
.navbar-default .navbar-nav li a{
  font-size: 3vw;
}
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:hover{
  color: #CC0033;
}
.navbar-nav {
  border: 0;
  position: absolute;
  right: 0;
  margin: 55px 20px 0 0;
}

/*3.    home     */
.home-img img{
  width: 200px;
  height: 289px;
  display: inline-block;
}

/*4.    Animes    */
.media{
  zoom:1.3;
}
.media-object {
  width: 159px;
  height: 249px;
}
.texto{
  padding: 8% 0 5% 0;
  font-weight: bold;
}

/*5.    emision     */
.thumbnail img{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
.thumbnail{
  background-color: transparent;
  border: 2px #FF66CC solid;
}
.btn-primary{
  color: #ACACAC;
  background-color: #C5100D ;
  border-color: transparent;
}
.dropdown-menu{
  background-color: transparent;
}
.dropdown-menu p{
  font-size: 1.2em;
  background-image: url(https://data.whicdn.com/images/89576686/original.gif);
}
.h3, h3{
  font-size: 1.1em;
}

/*6.   Ranking      */
h1{
  font-family: 'Eater',cursive;
  color: #CC0033;
  font-size: 55px;
  text-align: center;
  margin-top: 0px;
}
tbody tr td img{
  width: 130px;
  height: 150px;
}
tbody tr td{
  font-size: 1.5em;
}
thead tr th{
  font-weight: 100;
}
thead tr th, tbody tr td{
border: 5px #ff040485 solid;
}
.tabla-top thead{
  background-color: #bd20aa4d;
  border: 5px #ff040485 solid;
}

/*7.    foro   */

.tabla-comentario thead tr .nombre{
  width: 20%;
}
.tabla-comentario thead tr .comentario{
  width: 70%;
}
.tabla-comentario thead tr th, .tabla-comentario tbody tr td{
  border-bottom: transparent;
}
.form-style-1{
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font-family: 'Eater' cursive;
}
.h4, h4 {
    font-size: 28px;
    text-align: center;
}
.form-style-1 label{
  margin: 0 0 3px 0;
  padding: 0px;
  display:block;
  font-size: 1.2em;
}
.form-style-1 .field-divided{
  width: 300px
}
.form-style-1 .field-textarea{
  width: 500px;
  height: 150px;
}

/*8.     Pie de pagina    */

.logo_pie img{
  float: left;
  width: 250px;
  height: 250px;
}
.pie_links {
  float: left;
  width: 200px;
  line-height: 30px;
}
.footer{
  padding-top: 25px;
  margin-top: 15px;
}
